
@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');
/*@import "~bootstrap/scss/bootstrap";*/
div.container {
    max-width: 800px;
    margin: 0 auto;
}

div.container h1 {
    text-align: center;
}

div.main {
    height: 125px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

div.image {
    width: 30%;
    height: 100%;
    float: left;
}

div.image img {
    height: 100%;
}

div.header {
    font-size: 24px;
}

i.fas {
    margin-right: 15px;
}

img.avatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}

#helloimage{
    display: none;
}


body, html {
  height: 100%;
  background-color: rgba(0,0,0,.018);
  color: rgba(0,0,0,.75);
  font-family: 'Nunito';
}